.section1 {
  height: 677px;
  padding-top: 100px;
  background-color: #fff;
}

h2 {
  height: 56px;
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.About_us {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.About_us_p p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
hr {
  width: 59.19px;
  height: 5px;
  background: #e8c300;
  border-radius: 50px;
}

.kvadrat {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 79px;
  top: 513px;

  border: 20px solid #e8c300;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.container_about_text {
  margin-top: 90px;
}
