.header {
  height: 800px;
  background: url("/img/hungry_people.jpg") no-repeat center;
  background-size: 1440px 800px;

  h1 {
    vertical-align: center;
    text-align: center;
    width: 998px;
    height: 139px;
    text-transform: uppercase;

    font-family: Banny;
    font-size: 96px;
    line-height: 0px;

    color: #ffffff;
  }
}
